@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
:root {
  color-scheme: light dark;
}

/* Light mode (default) */
body {
  background: #f3f4f6; /* similar a gray-100 */
  color: #111827;      /* gray-900 */
}

/* Dark mode (automático según el cell/PC) */
@media (prefers-color-scheme: dark) {
  body {
    background: #0b1220; /* dark */
    color: #f9fafb;      /* near-white */
  }
}
